<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>물건 수정</title>
</head>

<body>
    <div th:replace="~{nav.html}"></div>

    <form action="/api/edit/" method="PUT">
        <input name="title" th:value="${item.title}">
        <input name="price" th:value="${item.price}">
        <input name="id" th:value="${item.id}">
        <button type="submit">전송</button>
    </form>
</body>

</html>