<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>로그인</title>
</head>

<body>
    <div th:replace="~{nav.html}"></div>
    <div th:if="${param.error}">
        <h4>ID나 비번 틀림 ㅋ</h4>
    </div>
    <form action="/api/login" method="POST">
        <pre>로그인</pre>
        <pre>ID</pre>
        <input name="username">
        <pre>Password</pre>
        <input name="password" type="password">
        <button type="submit">전송</button>
    </form>
</body>

</html>